# Nestjs specific
/dist
/node_modules
/build
/tmp

/backend/dist
/backend/node_modules
/backend/build
/backend/tmp
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

/backend/.env
/backend/.env.development
/backend/.env.test
/backend/.env.production


# Frontend NExt stop files
/frontend/node_modules
/frontend/.next
/frontend/dist
/frontend/build
/frontend/tmp
/frontend/.env




# temp directory
.temp
.tmp
